
#content {
    color: black;
}
#game {
    width: 800px;
    height: 500px;
    margin: 1em;
    background-color: #e3cd8c;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    justify-items: center;
    align-items: center;
}

#game > * {
    width: 90%;
    background-color: #fce5cdff;
    border: 3px solid black;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

#Resources{
    grid-row: 1 / span 2;
    grid-column: 1 / span 1;
    height: 180px;
    font-size: 26px;
}
#Resources > div{
    padding: 8px;
}
#Resources > div.internalBox > div, #popControls > div > div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
#Population{
    grid-row: 3 / span 2;
    grid-column: 1 / span 1;
    height: 1
    80px;
}
.popValue {
    padding: 0 0 0 5px;
}
#Time{
    grid-row: 5 / span 1;
    grid-column: 1 / span 1;
    height: 80px;
    justify-content: space-evenly;
}
#Meat{
    grid-row: 1 / span 3;
    grid-column: 2 / span 1;
    height: 280px;
}
#Notice{
    grid-row: 4 / span 2;
    grid-column: 2 / span 1;
    height: 180px;
}
#Build{
    grid-row: 1 / span 2;
    grid-column: 3 / span 1;
    height: 180px;
}
#Upgrade{
    grid-row: 3 / span 3;
    grid-column: 3 / span 1;
    height: 280px;
}

h2 {
    background-color: transparent;
    margin: 0;
    padding: 0 0 5px 0;
    color: black;
    font-size: 30px;
}
h4 {
    color: black;
    padding: 0 0 0 10px;
    font-size: larger;
    margin: 0;
}
h3 {
    padding: 0;
    text-align: center;
    margin: 0 0 10px 0;
}

.internalBox {
    display: flex;
    flex-flow: column nowrap;
}

button {
    width: 100%;
    text-align: start;
    background-color: #ebd8c4ff;
    border: 1px solid black;
}

button > div {
    font-size: 10px;
}

#Meat button {
    height: 220px;
    text-align: center;
}
#popControls {
    display: flex;
    justify-content: space-around;
    height: 50%;
}

#popControls button {
    width: min-content;
}