header {
    grid-area: navBar;
    background-color: #7f6000;
}

#navbar {
    display: flex;
    color: black;
    margin: 0;
    padding: 0 0 0 1em;
    justify-content: flex-end;
    align-items: center;
}
#navbar > a {
    padding: 1em;
    color: inherit;
    font: inherit;
    text-decoration: inherit;
}
#home {
    margin-right: auto;
}

#navbar > a:hover {
    background-color: #463500;
}

#active {
    background-color: #f1c232;
}

h2 {
    border-top: 0.1em solid #C6BB9B;
    padding: 0.5em;
    margin: 1em 0 0 0;
}

h3 {
    padding: 0.5em;
    margin: 0;
}

body {
    margin: 0;
    /* background-color: #e3cd8c; */
    background-image: url(../Images/Vintage_Paper_Texture_\(9789792113\).jpg);
}

h1 {
    text-align: center;
}
p {
    margin: 0 2em;
}

#content {
    display: flex;
    flex-flow: column nowrap;
    margin: 0 10vw;
    background-color: #fce5cd;
}
ul {
    list-style-type: none;
    margin: 0;
}
#screenshots {
    display: flex;
    flex: 0 1 100px;
    flex-flow: row wrap;
    justify-content: space-around;
}
#screenshots > img {
    width: 45%;
    margin: 0.5em 0;
}

@media only screen and (max-width: 768px) {
    #screenshots > img {
        width: 90%;
    }   
}