header {
    grid-area: navBar;
    background-color: #7f6000;
}

#navbar {
    display: flex;
    color: black;
    margin: 0;
    padding: 0 0 0 1em;
    justify-content: flex-end;
    align-items: center;
}
#navbar > a {
    padding: 1em;
    color: inherit;
    font: inherit;
    text-decoration: inherit;
}
#home {
    margin-right: auto;
}

#navbar > a:hover {
    background-color: #463500;
}

#active {
    background-color: #f1c232;
}

h2 {
    border-top: 0.1em solid black;
    padding: 0.5em;
}

body {
    margin: 0;
    background-color: #e3cd8c;
}

h1 {
    text-align: center;
}
p {
    margin-left: 1em;
}

#content {
    display: flex;
    flex-flow: column nowrap;
    margin: 0 20vw;
    background-color: #fce5cd;
}
ul {
    list-style-type: none;
}